.titleClasses {

  text-align: center;
  padding: 60px;
  .container {
    margin-top: 20px;
    margin-left: 24%;
    margin-bottom: 20px;
  }
  .btn1 {
    position: absolute;
    display: block;
    margin-left: 45%;
  }

  .rankingPanel {
    margin: 23%;
    margin-top: 70px;
    .container {
      border: 1px solid grey;
      margin-left: 0;
      width: 95%;
      .row {
        padding: 10px;
        div {
          font-size: 18px;
          text-align: center;
        }
      }

    }
  }

  .smallCountry {
    margin-top: 70px;
    margin-left: 23%;
    margin-right: 23%;
    .container {
      border: 1px solid grey;
      margin-left: 0;
      width: 95%;
      .row {
        padding: 10px;
        .largeNumber {
          text-align: center;
          word-wrap: break-word;
        }
      }
    }
  }
}