.titleClasses {

  text-align: center;
  padding: 60px;
  .container {
    margin-top: 20px;
    margin-left: 24%;
    margin-bottom: 20px;
  }
  .btn1 {
    position: absolute;
    display: block;
    margin-left: 45%;
  }

  .rankingPanel {
    margin: 23%;
    margin-top: 70px;
  }
}